<component name="ArtifactManager">
  <artifact type="exploded-ear" name="Spring1:ear exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring1_ear_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring1/javaeeApplication/javaEEApplication" />
    </root>
  </artifact>
</component>